// Specific CSS for your home-page
.container-sample {
  background: white;
  padding: 50px;
  box-shadow: gray;
}
.container-supplier {
  background-color: white;
  // #EDF0F0
  padding: 40px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
#showcase {
  margin-top: 20px;
  background-color: white;
}
.card-home {
  margin: 10px;
}
.supplier-message {
  text-align: center;
  margin: 40px 40px;
}
#home-agenda {
  margin-bottom: 50px;
}
#create-activity {
  margin-top: 30px;
}
.btn-primary {
  border-radius: 3px;
  opacity: 1;
}
.btn-primary:hover {
  opacity: 0.6;
}
