// Specific CSS for your home-page
.container-sample {
  background: white;
  padding: 80px;
}
.container-supplier {
  background-color: #EDF0F0;
  padding: 40px;
}
#showcase {
  background-color: white;
}
.card-home {
  margin: 10px;
}
.supplier-message {
  text-align: center;
  margin: 80px 40px;
}
#home-agenda {
  margin-bottom: 50px;
}
#create-activity {
  margin-top: 30px;
}
