<div class="container">
  <div class="main-content">
    <div class="row">
    <% @activities.each do |activity| %>
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <% link_to activities_path(activity) %>
          </div>
          <div class="card-footer">
            <div class="footer-left col-xs-8">
              <div class="title">
                <p><%= activity.title %></p>
              </div>
              <div class="city">
                <p><%= activity.city %></p>
              </div>
            </div>
            <div class="footer-right col-xs-4">
              <div class="price">
                <p>40€</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <!-- MAP -->
  <div id="map"></div>
</div>
<!-- Gmaps js: building the map -->
<script>
function initMap() {
// Create a map object and specify the DOM element for display.
var map = new google.maps.Map(document.getElementById('map'), {
center: {lat: 52.5206, lng: 13.4098},
scrollwheel: false,
zoom: 8
});
}
</script>
<!-- Gmaps JavaScript -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
</script>
