.main-bloc {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0;
}
.photos {
  margin: 10px;
  padding: 10px;
}
.price-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
  padding: 10px 40px;
  font-size: 14px;
}
.description {
  font-family: "Open Sans", "sans-serif";
  font-size: 16px;
  background-color: white;
  margin: 10px;
  padding: 20px;
}
.map-show {
  background-color: white;
  padding: 10px;
}
.title-activity {
  padding: 0px;
}
#book {
  color: white;
  margin: 10px 0;
}
.price-title {
  text-align: center;
}

