.p {
  color: black;
}
.container-show {
  background: white;
  width: 100%;
}
.main-bloc {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
  margin: 40px 0;
}
.photos {
  margin: 10px;
  padding: 10px;
}
.price-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
  padding: 10px 40px;
  font-size: 14px;
}
.description {
  font-size: 16px;
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-right-style: solid;
  border-width: 1px;
  border-color: lightgray;
}
.description-title {
  margin-bottom: 30px;
}
#map-show {
  margin-bottom: 80px;
}
.title-activity {
  padding: 0px;
  margin-left: 20px;
}
#book {
  color: white;
  margin: 15px 0;
}
.price-title {
  text-align: center;
  margin-bottom: 20px;
}

