.container {
  background: white;
  margin:0;
  width: 100%;
}
.main-container {
  display: flex;
  align-items: stretch;
  padding:0;
}
.sub-container {
  // width: 100% !important;
  flex: 1 1 auto;
}
.main-content {
  padding: 20px;
}
.row {
  padding: 0px;
  margin: 0px;
}
.card {
  flex: 1 1 auto;
  justify-content: space-around;
  margin: 10px 0;
  border-radius: 1px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  background-position: center;
}
.card-body {
  height: 180px;
  background-size: cover;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.card-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 70px;
}
.card-footer-home:hover {
  margin-top: -5px;
  transition: 0.2s;
}
.footer-left {
  align-self: right;
  padding:0;
}
.title {
  margin-right: auto;
  font-weight: bold;
  font-size: 14px;
}
.city {
  font-size: 12px;
  font-weight: lighter;
  color: rgba(0,0,0,0.4);
}
.footer-right {
  align-self: center;
  flex-direction: column;
}
.price {
  margin-right: auto;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .main-container {
    display:block;
  }
}
