.price_resa {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.price_resa {
   p {
    margin: 0px;
    margin-right: 10px;
    font-size: 25px;
    color: $brand-primary;
  }
}

// Classes du date picker:
