.price_resa {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.price_resa h2, p {
  margin: 0px;
  margin-right: 10px;
  font-size: 20px;
  color: $brand-primary;
}

.modal-body {
  padding-left: 0px;
}

// Classes du date picker:
