.price_resa {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.price_resa {
   p {
    margin: 0px;
    margin-right: 10px;
    font-size: 25px;
    color: $brand-primary;
  }
}

// Classes du date picker:




// card with waves


.maindiv-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  // width: 300px;
  height: 100px;
  // border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: $brand-primary;
  width: 100%;
  height: 500px;
  margin-left: -285px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 50000ms infinite linear;
}

.wave.-three {
  animation: drift 25000ms infinite linear;
}

.wave.-two {
  animation: drift 50000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(252, 119, 112), $brand-primary 80%, rgba(white, .5));
  // background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.titlewave {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  letter-spacing: .4em;
  font-size: 40px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


.modal-footer {
  text-align: center;
}
