#sidebar {
  background-color: rgb(225,225,225);
  position: fixed;
  left: 0px;
  top: 70px;
  bottom: 0px;
  width: 300px;
  text-align: center;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#sidebar li {
  margin-top:30px;
  margin-bottom: 30px;
}

#sidebar a {
  text-decoration: none;
  font-size: 25px;
  color:white;
}

#sidebar a:hover {
  color: white;
}

.avatar {
  border-radius: 50%;
}

.small-margin-top{
  margin-top: 15px;
}
