<!-- banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "cover_picture.jpg" %>);">
  <div class="banner-content">
    <h1>Bienvenue sur votre terrain de jeu</h1>
    <p>Découvrez les meilleures activités partout en France</p>
    <div class="padded">
      <form class="form-inline">
        <label class="sr-only" for="inlineFormInput">category</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="categoryinput" placeholder="Votre activité">
        <label class="sr-only" for="inlineFormInput">location</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="addressinput" placeholder="Adresse">
        <button type="submit" class="btn btn-primary" id="btn-submit">Submit</button>
      </form>
    </div>
  </div>
</div>
